lib/build*
lib/libs/
tableizer/
yolo*
.vscode/
__pycache__
.DS_Store
data/
*.jpg
*.jpeg
*.so
*.xlsx
app/ios/Podfile.lock
app/ios/libtableizer_lib*

# CMake build files
[Bb]uild/
[Bb]uild*/
*.build/
[Mm]akefiles/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
*.cmake
install_manifest.txt
project.xcodeproj/
*.xcworkspace/
*.vcxproj
*.vcxproj.filters
*.sln
*.suo
*.user
*.aps
*.opensdf
*.sdf
*.log
*.tlog
*.ipch
